<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>Books Exchanger</title> 

	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
	</script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
	</script> 
</head> 
<body> 

	{% for book in book_images %} 
			<div class="col-md-6"> 					
					<h1 class="title"><img src="{{book.book_img.url}}" class="img-responsive" style="width: 5%; margin-right: 10px;"><a href="{% url 'details' pk=book.pk %}">{{ book.book_name }}</a></h1>
					  
			</div> 
	{% endfor %} 

</body> 
</html> 
